# Install editable scripts for utils
-e .

# notebooks
ipykernel
jupyter
ipywidgets

# Data manipulation
pandas

# Visualisation
ydata_profiling

# Data Science
scikit-learn
lightgbm
mlflow # experiment tracking
optuna

# kaggle
kaggle

# quality
pytest
mypy
pytest-mypy